.page-item.active .page-link{
  background: var(--button-secondary) !important;
  border-color: var(--button-secondary) !important;
}

.page-item .page-link {
  background-color: var(--navbar-color);
  color: #fff;
  border: none;
}

.page-link:hover {
  background-color: #000 !important;
  color: #fff !important;
}
