button {
	border-radius: 24px !important;
}

.container-login {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

#remember label {
	margin-left: 10px;
}

.form-signin {
	width: 100%;
	max-width: 330px; /*Maximo anchura*/
	padding: 15px;
	margin: 0 auto;
}

.form-signin h2 {
	text-align: center;
}

.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin label[for="inputEmail"] {
	margin-top: 20px;
}

.register {
	text-align: center;
	padding: 10px 10px;
	margin-top: 20px;
}

.register > p {
	font-size: 18px;
}

.register > p > a {
	margin-left: 10px;
}

@media screen and ( max-width: 768px ) and ( orientation: landscape ) {
	.container-login {
		height: auto;
	}
}
