.navbar-brand {
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
}

.navbar {
	padding-right: 15px;
	padding-left: 15px;
	background-color: #000 !important;
	color: #fff;
}

.navbar .navbar-toggler {
	border: none;
}

.navbar .navbar-toggler:focus {
	outline: none !important;
}

.navbar .dropdown-item:hover {
	background: #c0dcf9;
}

.nav-item {
	font-size: 16px;
}

.nav-link {
	color: var(--font-color-main) !important;
	font-style: italic;
}

.btn-dark, .btn-dark:hover {
	margin-left: 15px;
	border: 1px solid white;
}

.navbar-brand img {
	max-width: 40px;
	margin-right: 15px;
}

.navbar-brand {
	padding: 0 !important;
}

.dropdown-item.active, .dropdown-item:active {
	color: #000 !important;
}
