:root {
	--background-theme: linear-gradient(
     to bottom,
		 #343434 30%,
		 #000
	);
	--gradient-theme: linear-gradient(
		rgba(171,48,56,1) 0%,
		rgba(40,102,123,1) 100%
	);
	--font-color-main: #fff;
	--button-primary: #28667b;
	--button-secondary: rgba(171,48,56,1);
	--navbar-color: #343434;
	--selected-item: gold;
}

body {
	color: var(--font-color-main) !important;
	background-color: #424242;
	background: var(--background-theme);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/* background-image: url('./images/Fondo05.jpg') !important; */
	/* background-image: var(--background-theme) !important; */
	/*background-size: 100%;*/
}

input, select {
	border-radius: 10px !important;
}

.input-group-append button {
  border-top-right-radius: 10px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 10px !important;
}

.input-group .form-control {
  border-radius: initial !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

/* Boostrap buttons */
.btn-primary,
.btn-primary:hover,
.btn-primary:disabled,
.btn-primary:active,
.btn-primary:focus {
	background: var(--button-primary) !important;
	border: none;
	box-shadow: none !important;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:disabled,
.btn-secondary:active,
.btn-secondary:focus {
	background: var(--button-secondary) !important;
	border: none;
	box-shadow: none !important;
}

.button-w80 {
	width: 50%;
	font-size: 18px;
}

.form-label {
	font-weight: bold;
}

.point {
	cursor: pointer;
}

.form-check > label {
	margin-left: 10px;
}

.toast-style {
	position: absolute;
	top: 0;
	right: 0;
}

/* toast */
.success-toast {
	background-color: var(--success);
	color: var(--font-color-main);
}

.warning-toast {
	background-color: var(--warning);
	color: #000;
}

.fail-toast {
	background-color: var(--danger);
	color: var(--font-color-main);
}

/* loading */
.loading {
	position: absolute;
	top: 42vh;
	left: 50vw;
}

.success {
	color: #4caf50;
}

.danger {
	color: red;
}

/* tabs */
.nav-tabs .nav-link {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

/* tables */
table > tbody > tr > td {
	font-size: 14px;
}

thead th {
	background-color: #000 !important;
}

/* columnas impares de la tabla */
table tr:nth-child(odd) td {
  background: #fff;
}

/* columnas pares de la tabla */
table tr:nth-child(even) td {
  background: #eee;
}

table td  {
	vertical-align: middle !important;
}

table td button {
  border-radius: 5px !important;
}

/* modals */
.modal-header {
	background: var(--navbar-color);
}

.modal-header .close:focus {
	outline: none;
}

.modal-body {
	color: #000;
	background: #d3d6d766;
}

.modal-footer {
	background: var(--navbar-color);
	justify-content: center;
}

.modal-footer button {
	width: 120px;
}

.loader-background {
    width: 100%;
    height: 100%;
    position: relative; /* Cambiamos de absolute a relative */
    background-color: #eaeaea4a;
    z-index: 9999;
}

.loader{
  border: 16px solid #d4d4d4;
  border-top: 16px solid var(--button-primary);
  border-bottom: 16px solid var(--button-primary);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.5s linear infinite;
  position: absolute; /* cambiamos de fixed a absolute */
  /* Ponemos el valor de left, bottom, right y top en 0 */
  left: 0;
  bottom: 0;
  right: 0;
  top: 50px;
  margin: auto; /* Centramos vertical y horizontalmente */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.font-20 {
	font-size: 20px;
}

/* media query */
@media screen and ( max-width: 360px ) and ( max-width: 768px ) {

	.flex-vertical {
		flex-direction: column !important;
		justify-content: center;
	}

	.mb-10 {
		margin-bottom: 10px;
	}
}
